.containerContent {
    .containerHeader {
        position: relative;
        .title {
            text-align: center;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .line::after {
            content: '';
            position: absolute;
            bottom: -20px;
            left: 50%;
            transform: translateX(-50%);
            height: 3px;
            width: 50px;
            background-color: red;
            border-radius: 2px;
        }
    }
    .content {
        margin-top: 5%;
    }
}
