.listInfo {
    padding: 0;
    li {
        a {
            text-decoration: none;
            color: #fff;
        }
    }
}
.desc {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.6;
    margin-bottom: 12px;
}
